In [103]:
import numpy as np 
import pandas as pd 
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt

import seaborn as sns

In [104]:
df = pd.read_json("data/crane.json")
df.head()

,acceleration,inclination,model,orientation,pitch,roll,time,x,y,z
0,4,59,'crane',1,19,32,Thu Nov 24 2016 02:12:42 GMT-0800 (PST),1,2,4
1,5,44,'crane',2,24,23,Thu Nov 24 2016 02:12:42 GMT-0800 (PST),2,2,4
2,4,47,'crane',1,24,26,Thu Nov 24 2016 02:12:42 GMT-0800 (PST),2,2,4
3,4,40,'crane',2,26,22,Thu Nov 24 2016 02:12:42 GMT-0800 (PST),2,2,4
4,4,42,'crane',2,26,23,Thu Nov 24 2016 02:12:42 GMT-0800 (PST),2,2,4

In [107]:
fig = plt.figure()
ax = fig.add_subplot(111, projection='3d')

In [108]:
ax.plot(df.x, df.y, df.z, color="r")

plt.show()